## ==========================================
## Visual Studio & .NET Gitignore
## ==========================================

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.DotSettings.user

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
.vscode/

# NuGet Packages
*.nupkg
packages/
!packages/build/

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
